@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IServUsuario ServUsuario
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>PPS3.Client</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn btn-primary" @onclick="@LogoutUser">
            Cerrar Sesion
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private async Task LogoutUser()
    {
        var result = await ServUsuario.Logout();

        if (result)
        {
            await AuthStateProvider.GetAuthenticationStateAsync();
            NavigationManager.NavigateTo("/");    
        }
        
    }
}