@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IServUsuario ServUsuario
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Ecommerce Shop</PageTitle>

@*Si el usuario posee el nivel requerido de autorizacion, se le mostraran las opciones en el menu de navegacion*@
@*<div class="page">
    
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>
    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <button class="btn btn-danger" @onclick="@LogoutUser">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Cerrar Sesion
                    </button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-primary" @onclick="@Login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Iniciar Sesion
                    </button>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@

<MudLayout>    
    <AppBar OnSidebarToggled="ToggleSideBar" OnRightSidebarToggled="ToggleRightSideBar" Login="Login" Logout="LogoutUser" Register="Register"/>

    <AuthorizeView Roles="1, 2">
        <NavMenu SideBarOpen = "@_openSideBar"></NavMenu>
    </AuthorizeView>

    <RightNavMenu SideBarOpen="@_openRightSideBar"/>

    <BottomAppBar Contacto="ContactPage"/>

    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-16 mb-16 mud-container-maxwidth-xl">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<MudThemeProvider/> @*Componente esencial para renderizar y obtener funcionalidades de MudBlazor*@
<MudDialogProvider/> @*Componente opcional que sirve para los menu de dialogo*@
<MudSnackbarProvider/> @*Componente opcional que sirve para utilizar las notificaciones SnackBar *@

@code{
    //Variable para determinar si se muestra o no la barra lateral
    private bool _openSideBar = false;
    private bool _openRightSideBar = true;

    //Metodo para cambiar el estado de la variable simplemente y mostrar o no la barra lateral en codigo
    private void ToggleSideBar() => _openSideBar = !_openSideBar;
    private void ToggleRightSideBar() => _openRightSideBar = !_openRightSideBar;

    private async Task LogoutUser()
    {
        var result = await ServUsuario.Logout();

        if (result)
        {
            await AuthStateProvider.GetAuthenticationStateAsync();
            NavigationManager.NavigateTo("/");    
        }        
    }

    private void Login() => NavigationManager.NavigateTo("/login"); 

    private void Register() => NavigationManager.NavigateTo("/registro"); 

    private void ContactPage() => NavigationManager.NavigateTo("/");
}